remove_hist() {
    if [ -z "$1" ]; then
        echo "Usage: remove_hist <string>"
        return 1
    fi
    LC_ALL=C sed -i '' "/$1/d" "$HISTFILE" && echo "Removed entries containing '$1' from history."
    LC_ALL=C sed -i '' "/remove_hist/d" "$HISTFILE"
}

function update_webui() {
    echo "Updating WebUI..."
    echo "    Removing WebUI docker container..."
    docker rm -f open-webui
    echo "    Pulling current WebUI docker image..."
    docker pull ghcr.io/open-webui/open-webui:main
    echo "    Starting updated WebUI docker image"
    docker run -d -p 3000:8080 -v open-webui:/app/backend/data --name open-webui ghcr.io/open-webui/open-webui:main
}